
<div class="pure-g">

  <div class="headerdiv pure-u-1">
    <h1>A Small Portfolio</h1>
    <h2>Showing some of the things I've made</h2>
  </div>

<!-- Line 1 -->

  <div class="image-box pure-u-1 pure-u-md-1-2">
    <img class="pure-img" src="images/cms_15.jpg" alt="GDM">
    <div class="bar-image-deco"></div>
  </div>

  <div class="image-box pure-u-1 pure-u-md-1-2">
    <img class="pure-img" src="images/cme_01.jpg" alt="GDM">
    <div class="bar-image-deco">
      <a class="link-video" href="https://youtu.be/jnZMcMFRAA0" target="_blank">Video link</a>
    </div>
  </div>

<!-- Line 2 -->

  <div class="text-box pure-u-1 pure-u-md-2-5">
    <div class="">
      <h3>"Nature has a way<br>of creating beauty"</h3>
    </div>
  </div>

  <div class="image-box pure-u-1 pure-u-md-3-5">
    <img class="pure-img" src="images/bs1_15.jpg" alt="GDM">
    <div class="bar-image-deco"></div>
  </div>

<!-- Line 3 -->

  <div class="image-box pure-u-1 pure-u-md-1-3">
    <img class="pure-img" src="images/bp_pira.jpg" alt="GDM">
    <div class="bar-image-deco"></div>
  </div>

  <div class="image-box pure-u-1 pure-u-md-1-3">
    <img class="pure-img" src="images/bs1_13.jpg" alt="GDM">
    <div class="bar-image-deco"></div>
  </div>

  <div class="image-box pure-u-1 pure-u-md-1-3">
    <img class="pure-img" src="images/cms_06.jpg" alt="GDM">
    <div class="bar-image-deco"></div>
  </div>

<!-- Line 4 -->

  <div class="image-box pure-u-1 pure-u-md-1-2">
    <img class="pure-img" src="images/cme_03.jpg" alt="GDM">
    <div class="bar-image-deco">
      <a class="link-video" href="https://youtu.be/TyT4u_ochYc" target="_blank">Video link</a>
    </div>
  </div>

  <div class="text-box pure-u-1 pure-u-md-1-2">
    <div class="">
      <h3>"A good design is nice<br>A great one turns heads"</h3>
    </div>
  </div>

<!-- Line 5 -->

  <div class="image-box pure-u-1 pure-u-md-3-5">
    <img class="pure-img" src="images/bs1_11.jpg" alt="GDM">
    <div class="bar-image-deco"></div>
  </div>

  <div class="image-box pure-u-1 pure-u-md-2-5">
    <img class="pure-img" src="images/cms_13.jpg" alt="GDM">
    <div class="bar-image-deco"></div>
  </div>

<!-- Line 6 -->

  <div class="image-box pure-u-1-2 pure-u-md-1-4">
    <img class="pure-img" src="images/gd1_15.jpg" alt="GDM">
    <div class="bar-image-deco"></div>
  </div>

  <div class="image-box pure-u-1-2 pure-u-md-1-4">
    <img class="pure-img" src="images/gd2_01.jpg" alt="GDM">
    <div class="bar-image-deco"></div>
  </div>

  <div class="image-box pure-u-1-2 pure-u-md-1-4">
    <img class="pure-img" src="images/gd1_17.jpg" alt="GDM">
    <div class="bar-image-deco"></div>
  </div>

  <div class="image-box pure-u-1-2 pure-u-md-1-4">
    <img class="pure-img" src="images/gd2_03.jpg" alt="GDM">
    <div class="bar-image-deco"></div>
  </div>

<!-- Line 7 -->

  <div class="image-box pure-u-1 pure-u-md-1-3">
    <img class="pure-img" src="images/cms_12.jpg" alt="GDM">
    <div class="bar-image-deco"></div>
  </div>

  <div class="text-box pure-u-1 pure-u-md-1-3">
    <div class="">
      <h3>"Color is<br>universal"</h3>
    </div>
  </div>

  <div class="image-box pure-u-1 pure-u-md-1-3">
    <img class="pure-img" src="images/cms_20.gif" alt="GDM">
    <div class="bar-image-deco"></div>
  </div>

<!-- Line 8 -->

  <div class="image-box pure-u-1 pure-u-md-2-5">
    <img class="pure-img" src="images/cms_tut.gif" alt="GDM">
    <div class="bar-image-deco"></div>
  </div>

  <div class="image-box pure-u-1 pure-u-md-3-5">
    <img class="pure-img" src="images/op2.jpg" alt="GDM">
    <div class="bar-image-deco"></div>
  </div>

<!-- Footer -->

  <div class="footerdiv pure-u-1">
    <p>© Copyright 2016</p>
  </div>

</div>
